.game__container {
  padding: 2rem;
  position: relative;
  width: 100%;
}

.game__alphabet {
  display: flex;
  justify-content: center;
  max-width: 80%;
  align-items: baseline;
  margin: 0 auto;
}

.game__char {
  display: block;
  text-align: center;
  border: 1px solid #3498db;
  padding: 1rem;
  flex-basis: 1rem;
}

.game__header {
  padding: 1rem;
  display: flex;
  width: 100%;
  background-color: white;
  top: 0;
  margin-bottom: 2rem;
  justify-content: space-evenly;
  border-radius: 5px;
}

.game__turn {
  text-decoration: underline #3498db;
}

