.game__container {
  margin-top: 20px;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
}

.game__alphabet {
  display: flex;
  justify-content: center;
  max-width: 80%;
  align-items: baseline;
  margin: 0 auto;
}

.game__char {
  display: block;
  text-align: center;
  border: 1px solid #3498db;
  padding: 1rem;
  flex-basis: 1rem;
}

