* {
  font-family: 'Raleway', sans-serif;
}

.roulette {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roulette-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button {
  position: absolute;
  top: 40%;
  border: 1px solid #f39c12;
  background-color: #f1c40f;
  font-size: 1rem;
  color: #000;
  outline: none;
  border: none;
  padding: 1rem 2rem; 
  border-radius: 200px;
  margin: 0;
  -webkit-animation: breathing 7s ease-out infinite normal;
  animation: breathing 4s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
  
}

.button:disabled:hover {
  box-shadow: inset 0px 0px 4px rgba(0,0,0,.2);
  border: none;
  background-color: #bdc3c7;
}

.button:disabled {
  background-color: #bdc3c7;
  border: 1px solid #95a5a6;
  animation:  none;
}



@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

25% {
  -webkit-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
}

@keyframes breathing {
0% {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
}

25% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
}

100% {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
}
}
